
body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center; /* poziomo */
  align-items: center;     /* pionowo */
  background-color: powderblue;
}

button {
  background-color: red;
  padding: 10px;
  font-size: 20px;
}

.container {
  text-align: center;
  /* background-color: red; */
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border: 4px solid black;
}

#start {
  padding: 10px 20px;
  font-size: 16px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 0 #388e3c;
  cursor: pointer;
  transition: transform 0.05s ease, box-shadow 0.05s ease;

}


#start:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 #388e3c;
}

#start {
  transition: transform 0.05s ease, box-shadow 0.05s ease;
}


#start_alarm {
  padding: 10px 20px;
  font-size: 16px;
  /* background: #4caf50; */
  color: white;
  border: none;
  border-radius: 6px;
  /* box-shadow: 0 4px 0 #388e3c; */
  cursor: pointer;
  transition: transform 0.05s ease, box-shadow 0.05s ease;

}


#start_alarm:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 #388e3c;
}

#start_alarm {
  transition: transform 0.05s ease, box-shadow 0.05s ease;
}

